#layout{
    opacity: 1;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 1250px;
    align-items: center;
    
    
}

.search_title{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 16px;
    position: relative;
}
h1{
    display: block;
    font-size: x-large;
}
a{
    color: black;
}


#head{
    border-bottom: 1px solid lightgray;
}

*{
    font-size: small;
}
